<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <%- include('navbar') %>
    <h1>Categories Page</h1>
    <% if (categories.length === 0) {%>
        <h1>No Categories Found</h1>
        <p>Click on the Link below to add a Category</p>
        <a href="/addNewCategories">Add Category</a>
    <%} else { %>
        <% categories.map((category) => { %> 
            <p><%= category.name %></p>
            <a href="/<%= category.id %>/deleteCategory">Delete</a>
        <% }) %>
    <%} %> 
    
</body>
</html>