<footer class="footer">
    <div class="footer-content">
        <p class="footer-text">© 2024 Created By <a class="footer-a" href="https://github.com/Sulaymancodes">Sulayman Codes</a> All rights reserved.</p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/sulaimanrsb/" class="social-icon">LinkedIn</a>
            <a href="https://x.com/RsbSulayman" class="social-icon">X platform</a>
            <a href="https://www.instagram.com/sulaymancodes" class="social-icon">Instagram</a>
        </div>
    </div>
</footer>
