<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
</head>
<body>
   <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/addNewItems">Add Item</a></li>
            <li><a href="/addNewCategories">Add Category</a></li>
        </ul>
   </nav>
   <main>
    <h1>WELCOME TO RASY GROCERY STORE</h1>
    <p>...Everything you need at one place</p>
    <button><a href="/items">Explore</a></button>
   </main>
</body>
</html>